/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #2e2e2e; /* Fundo cinza minimalista */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Caixa central */
.container {
    background: #222222;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 90%;
    text-align: center;
}

/* Ícone do headset */
.icon {
    color: #8345a0; /* verde elegante */
    margin-bottom: 20px;
}

/* Título e descrição */
h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #ffffff;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Textarea */
textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 1em;
    margin-bottom: 20px;
    outline: none;
    transition: border-color 0.3s;
}

textarea:focus {
    border-color: #8345a0;
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #8345a0;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #8345a0;
}

/* Status */
#status {
    margin-top: 15px;
    font-weight: bold;
    font-size: 0.95em;
}
